version: "3.9"

services:
  db:
    image: postgres:15
    container_name: sales_ai_postgres
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "${POSTGRES_PORT}:5432"
    volumes:
      - sales-postgres-data:/var/lib/postgresql/data

volumes:
  sales-postgres-data: